/* ----- Global CSS ----- */

body {
    background: rgb(0,0,0);
    color:aliceblue;

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* --- Responsive Images --- */

img{
    max-width:100%;
}

img.sidebar_left{
    max-width:33%;
    float:left;
    margin:20px;
    border-radius:20px;
}

img.sidebar_right{
    max-width:33%;
    float:right;
    margin:20px;
    border-radius:20px;
}

/* --- Header --- */

header h1{
    font-size:7rem;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:10px;
}

header h3{
    font-size:1.1rem;
    text-transform:uppercase;
    text-align:center;
    margin-top:0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top:20px;
}

#header-top img{
    max-width:200px;
    padding-left:100px;
}

#header-top nav ul {
    display: flex;
    list-style-type: none;
}

#header-top  nav ul li {
    margin-left:100px;
}

#header-top nav ul li :last-child{
    margin-right:100px;
}

#header-top nav ul li a {
    color: #FFF;
    text-decoration: none;
}

#header-top  nav ul li a:hover {
    text-decoration: underline;
}

/* --- Footer --- */

footer ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

footer ul li{
    padding-bottom:10px;
}

footer a{
    color:#FFF;
    text-decoration:none;
}

footer a:hover{
    text-decoration:underline;
}

/* --- Media Queries --- */

@media (max-width:1200px){
    #header-top nav ul li{
        margin-left:50px;
    }
}

@media (max-width:1000px){
    #header-top nav ul li{
        margin-left:25px;
    }
}

@media (max-width:900px){
    header {
        height: auto;
        padding-top: 10vh;
        text-align: center;
    }

    header h1 {
        font-size: 4rem;
        padding-top: 20px;
    }

    header h3 {
        font-size: 1rem;
        margin-top: 10px;
    }

    #header-top {
        flex-direction: column;
        align-items: center;
    }

    #header-top img {
        max-width: 150px;
        margin-right:100px;
    }

    #header-top nav ul {
        flex-direction: column;
    }
}