/* ----- Global CSS ----- */

body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,14,41,1) 40%, rgba(6,24,77,1) 70%, rgba(9,51,122,1) 90%, rgba(33,93,142,1) 100%);
    color:aliceblue;

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* --- Responsive Images --- */

img{
    max-width:100%;
}

img.sidebar_left{
    max-width:50%;
    order:0;
    margin:20px;
    border-radius:20px;
}

img.sidebar_right{
    max-width:50%;
    order:1;
    margin:20px;
    border-radius:20px;
}

/* --- Header --- */

header{
   height:100vh;
}

header h1{
    font-size:7rem;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:10px;
    padding-top:15vh;
}

header h3{
    font-size:1.1rem;
    text-transform:uppercase;
    text-align:center;
    margin-top:0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top:20px;
}

#header-top img{
    max-width:200px;
    padding-left:100px;
}

#header-top nav ul {
    display: flex;
    list-style-type: none;
}

#header-top  nav ul li {
    margin-left:100px;
}

#header-top nav ul li :last-child{
    margin-right:100px;
}

#header-top nav ul li a {
    color: #FFF;
    text-decoration: none;
}

#header-top  nav ul li a:hover {
    text-decoration: underline;
}

/* --- Footer --- */

footer ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

footer ul li{
    padding-bottom:10px;
}

footer a{
    color:#FFF;
    text-decoration:none;
}

footer a:hover{
    text-decoration:underline;
}

/* ----- Homepage ----- */

#content h2{
    font-size:2rem;
    text-transform:uppercase;
    text-align:center;
}

#content h3{
    font-size:1.1rem;
    text-transform:uppercase;
}

#content p{
    font-size:1rem;
}

/* --- Content --- */

#overview{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#overview h2{
    font-size:2.5rem;
    text-align:center;
    margin-bottom:0px;
}

#overview p{
   font-size:1rem;
   padding:20px;
   padding-top:10px;

   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
}

#configurations h2{
    font-size:2.5rem;
    text-align:center;
    padding-bottom:10vh;
}

#configurations h3 {
    font-size:1.5rem;
    text-align:center;
    margin:0;
}

#configurations img{
    max-height:35vh;
}

#configurations dl dt{
    font-size:1rem;
    padding-bottom:2px;
}

#configurations dl dd{
    font-size:.8rem;
    padding-bottom:10px;
    margin:0px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

#crew{
    height:35vh;
    padding-bottom:10vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#crew dl{
    text-align:left;
}

#cargo{
    height:35vh;
    padding-bottom:10vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#cargo dl{
    text-align:left;
    padding-left:10px;
}

#lab{
    height:35vh;
    padding-bottom:10vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#lab dl{
    text-align:left;
}

#lab img{
    width:40%;
}

/* --- Media Queries --- */

/*Need to add media queries eventually*/
